


<div class="container-fluid">
            <div class="row" style="background-color: white">
            <h1 class="text-center">In and Out Buger: Order Here</h1>
            </div>
    <br>

            <div class="row text-center"> 
            
            </div>
    <br>


<div class="row text-center">
    <div class="col-xs-2 float-right" ></div>
        <div class="col-xs-8 float-right" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default btn-sm"><a href="/">Back</a></button>
                Screenshots of Database and App
                
                </div>
                <div class="panel-body">

                   
                   
                            <div class="hovereffect">
                                <img src="images/1.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows this app running from local host and displaying mysql table.</h2>
                                </div>
                            </div>
                            
                            <div class="hovereffect">
                                <img src="images/2.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows input entry.</h2>
                                </div>
                            </div>

                            <div class="hovereffect">
                                <img src="images/3.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows that the row was added to the database table.</h2>
                                </div>
                            </div>

                            <div class="hovereffect">
                                <img src="images/4.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows this app running from local host and displaying mysql table.</h2>
                                </div>
                            </div>

                                <div class="hovereffect">
                                <img src="images/7.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows this app running from local host and displaying mysql table.</h2>
                                </div>
                            </div>
                            
                            </div>
                            <div class="hovereffect">
                                <img src="images/5.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows this app running from local host and displaying mysql table.</h2>
                                </div>
                            </div>
                            <div class="hovereffect">
                                <img src="images/6.PNG" alt="App View" style="width:100%;height:100%" class="img-responsive">
                                <div class="overlay">
                                <h2>This screenshot shows this app running from local host and displaying mysql table.</h2>
                                </div>
                            </div>
               
        </div>
    </div>
</div>
                    
                     

                </div>
           <div class="col-xs-2 float-right" ></div>      
            </div>
        </div>
       

        
    </div>

    

</div>



